{% extends 'base.html.twig' %}

{% block javascripts %}{% endblock %}

{% block body %}
    <div>
        <section class="login_box_area section_gap">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-6 col-pl-2">
                        <div class="login_form_inner"><h3>Log in to enter</h3>
                            <form class="row login_form" method="post">
                                 {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                 {% endif %}

                                <div class="col-md-12 form-group">
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                           class="form-control" placeholder="Login" required autofocus>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control"
                                           placeholder="Password" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="remember-me" name="_remember_me">
                                        <label for="remember-me">Keep me logged in</label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" value="submit" class="primary-btn">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
