<div>
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('updateStatus', object, {'status': 'accept'}) }}">
        <span class="fa fa-check"></span>
        Accept
    </a>
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('updateStatus', object, {'status': 'block'}) }}">
        <span class="fa fa-ban"></span>
        Block comment
    </a>
</div>
